# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Database
data/*.db

# Environment Variables
.env

# Logs
logs/

# VS Code
.vscode/

# OS
Thumbs.db
.DS_Store

#Cache
cache/

#Audio files (temporary recordings)
*.wav
*.mp3


# Python cache files
.pytest_cache/
.mypy_cache/


#Build files
build/
dist/
*.egg-info/
kokoro_venv/
